<div class="tabs-container">
  <mat-tab-group>
    <mat-tab *ngFor="
        let tab of tabData;
        let i = index;
        let last = last;
        let first = first
      ">
      <ng-template mat-tab-label>
        <app-tabs class="tab-component" [tabReference]="filterObj" [tabIndex]="i" [last]="last" [first]="first"
          [ngClass]="{ active: i === activeTabIndex }"></app-tabs>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
<app-search-filter></app-search-filter>
<div [ngSwitch]="dataLoadingCase">
  <div class="cards-container" *ngSwitchCase="'dataLoaded'">
    <app-card class="product-card" *ngFor="let card of filteredData" [cardData]="card" [cardLabels]="cardLabels"
      [ngClass]="{
        worse: card.rating <= 2,
        average: card.rating > 2 && card.rating <= 3,
        best: card.rating > 3 && card.rating <= 5
      }"></app-card>
  </div>

  <app-error *ngSwitchCase="'error'"> </app-error>

  <div *ngSwitchCase="'loading'" class="loader">
    <mat-spinner></mat-spinner>
  </div>
</div>

<!-- <ng-template #noData>
  <div class="cards-container" *ngIf="dataLoading">
    <app-error *ngIf="!filteredData.length"> </app-error>
  </div>
</ng-template>

<ng-template #loader>
  <div class="cards-container loader" *ngIf="dataLoading">
    <mat-spinner></mat-spinner>
  </div>
</ng-template> -->
