/* You can add global styles to this file, and also import other style files */
/* @import '../node_modules/bootstrap/dist/css/bootstrap.min.css'; */
/* .tab-component .tab {
  width: 7%;
  padding: 10px 10px 10px 0;
  border: 0;
}
.tab-component.active .tab {
  background: green;
  color: white;
} */
.tab-component {
  position: relative;
}
.tab-component.active {
  border-bottom: 2px solid;
  color: transparent;
}
.tab-component .tab {
  padding: 10px 22px;
  border: 0;
  margin-right: 28px;
  background: #6495ed;
  color: honeydew;
  font-size: 17px;
  font-weight: 500;
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background: none;
}
.mat-tab-header, .mat-tab-nav-bar {
  border: 0;
}
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.loader {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -52px 0 0 -16px;
}
.mat-tab-labels .mat-tab-label {
  border-right: 2px solid blue;
  border-radius: 10px;
  opacity: 1;
}
.mat-tab-label-active {
  background: red;
}
.tab-component.active .tab {
  background: red;
}